<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899204205575-pi1kgu9gd8ji63hkf7hpcln2nf47fnmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899204205575-pi1kgu9gd8ji63hkf7hpcln2nf47fnmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBsJdGRckzxEUikSKGwaddJyDQduPlmOdo</string>
	<key>GCM_SENDER_ID</key>
	<string>899204205575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-8e6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-8e6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899204205575:ios:51d394f7f0cfc7036ceea2</string>
</dict>
</plist>